/* Don't change the existing CSS. */


#outer-box {
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 100px;
  background-color: blue;
  padding: 10px;
}
.box {
  
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}