body {
    background-color: black;
}
h1 {
    font-size: 3rem;
}
.poster {
    color: white;
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
    text-align: center;
}
img {
    border: 5px solid white;
    width: 100%;
}
